<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
		http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
		
  	<display-name>wiremdmServices</display-name>
  	
  	<resource-ref>
        <description>Oracle Spring JNDI Datasource</description>
        <res-ref-name>jdbc/aaidatasource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
	</resource-ref>


  	
  	<context-param>
    	<param-name>contextConfigLocation</param-name>
   	 	<param-value>WEB-INF/config/spring-context.xml</param-value>
  	</context-param>
 
 	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
    	<servlet-name>restservice</servlet-name>
    	<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
	    <init-param>
	      <param-name>com.sun.jersey.config.property.packages</param-name>
	      <param-value>com.aai.restful.service</param-value>
	    </init-param>
	    <init-param>
	      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
	      <param-value>true</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>restservice</servlet-name>
    	<url-pattern>/restservice/*</url-pattern>
  	</servlet-mapping>
 
 	<servlet>
		<servlet-name>rest</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>rest</servlet-name>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>
	
	
	<session-config>
	  	<session-timeout>30</session-timeout>
	</session-config>

 
</web-app>